*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto-Regular.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Rye;
  src: url(fonts/Rye-Regular.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: SpecialElite;
  src: url(fonts/SpecialElite-Regular.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --_accent-color: hsl(48, 100%, 67%);

  --_level-one: translateZ(3rem);
  --_level-two: translateZ(6rem);
  --_level-three: translateZ(9rem);
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: #222;
  color: hsl(38, 60%, 80%);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background: linear-gradient(
    45deg,
    hsla(40, 100%, 90%, 0.08),
    hsla(40, 0%, 0%, 0.2)
  );
  background-color: rgba(0, 0, 0, 0.85);
}

.nav-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.site-name {
  font-family: "Rye";
  font-size: 1.3rem;
  color: #555;

  transition: color 300ms ease-in-out, filter 300ms ease-in-out;
}

.nav-top .site-name:hover,
.nav-top .site-name:focus {
  color: var(--_accent-color);
  filter: saturate(50%);
}

.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
  cursor: pointer;
}

.nav-list a {
  text-decoration: none;
  outline: none;
  color: inherit;
  margin-left: 1rem;

  transition: color 300ms ease-in;
}

.nav-list a:hover,
.nav-list a:focus {
  color: floralwhite;
}

.fancy-link {
  position: relative;
}

.fancy-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--_accent-color);

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 300ms ease-in;
}

.fancy-link:hover::after,
.fancy-link:focus::after {
  transform: scaleX(1);
  transform-origin: left;
}

.logo {
  width: 30px;
  margin-left: 1rem;
  opacity: 0.5;

  transition: opacity 300ms ease-in-out;
}

.logo:hover,
.logo:focus {
  opacity: 1;
}

.header-grid {
  display: grid;
  place-items: center;
  margin-block: 60px 20px;
  text-transform: uppercase;
}

.header-title {
  padding: 0;
  margin: 0;
  font-weight: lighter;
  font-size: 2.75rem;
  filter: brightness(2);
  order: 2;
}

.header-subtitle {
  font-family: "SpecialElite";
  width: 320px;
  color: var(--_accent-color);
  text-align: center;
  font-weight: lighter;
  letter-spacing: 4px;
}

.flowers-grid-layout {
  width: 800px;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-rows: 100px;
  margin: 0;
  margin-inline: auto;
  gap: 2px;
  align-items: stretch;
  justify-items: stretch;
  grid-auto-flow: dense;
}

.flower-card {
  overflow: hidden;
  box-shadow: 0 0 10px 0 #9e8f0461;
}

.flower-card__content {
  position: relative;

  transition: transform 3s;
  transform-style: preserve-3d;
}

.flower-card:hover .flower-card__content,
.flower-card:active .flower-card__content,
.flower-card:focus .flower-card__content {
  transform: rotateY(0.5turn);
}

.flower-card__front,
.flower-card__back {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* backface-visibility: hidden; */

  transform-style: preserve-3d;
}

.flower-card__front {
  width: 100%;
}

.flower-card__front > img {
  display: block;
  width: 100%;
  filter: saturate(120%);
}

.flower-card__front::before,
.flower-card__back::before {
  --_border-spacer: 4px;

  content: "";
  position: absolute;
  top: var(--_border-spacer);
  right: var(--_border-spacer);
  bottom: var(--_border-spacer);
  left: var(--_border-spacer);
  width: 102px;
  height: 92px;
  border: 1px solid currentColor;
  z-index: 1;
  transform: var(--_level-one);
}

.flower-card__back {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;

  transform: scale(0);
}

.flower-card__text-container {
  display: flex;
  flex-direction: column;
  z-index: 1;
  overflow-y: scroll;
  transform: var(--_level-two);
  transform: scale(0);
}

.flower-card__title,
.flower-card__caption,
.flower-card__icon-list {
  margin: 0;
}

.flower-card__title {
  display: block;
  padding-block: 8px;
  font-family: "SpecialElite";
  font-size: 1.25rem;
  color: var(--_accent-color);
  transform: scale(0);
}

.flower-card__caption {
  margin-bottom: 12px;
  line-height: 1.25;
  overflow-y: scroll;
  transform: scale(0);
}

.flower-card__icon-list {
  display: flex;

  list-style: none;
  padding-top: 0.55rem;
  padding-left: 0;
  transform: var(--_level-three);
  transform: scale(0);
}

.flower-card__icon > img {
  width: 25px;
}

/* Flower grid tile variations */
.tall {
  grid-row: span 2;
}

.wide {
  grid-column: span 2;
}

.tall .flower-card__front > img {
  height: 220px;
}

.tall .flower-card__front::before,
.tall .flower-card__back::before {
  height: 194px;
}

.wide .flower-card__front::before,
.wide .flower-card__back::before {
  width: 217px;
}

.just-small .flower-card__front > img {
height: 100px;
}

.just-tall .flower-card__back {
  height: 202px;
}

.just-tall .flower-card__text-container {
  display: block;
}

.just-tall .flower-card__title {
  overflow-x: scroll;
  padding-bottom: 0.5rem;
}

.just-tall .flower-card__icon-list,
.just-small .flower-card__icon-list {
  flex-wrap: wrap;
  justify-content: center;
}

.just-tall .flower-card__text-container,
.wide .flower-card__text-container {
  overflow-y: hidden;
}

.tall.wide .flower-card__back {
  height: 202px;
}

.just-small:hover .flower-card__back,
.just-small:hover .flower-card__icon-list,
.tall:hover .flower-card__back,
.tall:hover .flower-card__title,
.tall:hover .flower-card__text-container,
.tall:hover .flower-card__icon-list,
.wide:hover .flower-card__back,
.wide:hover .flower-card__title,
.wide:hover .flower-card__text-container,
.wide:hover .flower-card__icon-list,
.tall.wide:hover .flower-card__back,
.tall.wide:hover .flower-card__title,
.tall.wide:hover .flower-card__caption,
.tall.wide:hover .flower-card__text-container,
.tall.wide:hover .flower-card__icon-list {
  transform: scale(1) rotateY(0.5turn);
}

.accent-tile {
  color: var(--_accent-color);
}

.accent-tile > img {
  filter: grayscale(100%) contrast(145%) brightness(100%);
}

.flower-card:hover .accent-tile > img {
  filter: saturate(120%);
}

@media (max-width: 408px) {
  .flower-card__front::before,
  .flower-card__back::before {
    width: 120px;
  }

  .wide .flower-card__front::before,
  .wide .flower-card__back::before {
    width: 250px;
  }

  .flower-card__front:hover .flower-card__content,
  .flower-card__front:active .flower-card__content,
  .flower-card__front:focus .flower-card__content {
    transform: rotateY(0.5turn);
  }
}
